<%= form_with url: import_students_path, method: :post do |f| %>
    <div class="container">
        <%= f.file_field :file, accept: ".csv" %>
        <div class="btn-group">
            <%= f.submit "Upload People", class: "btn btn-primary" %>
        </div>
    </div>
<% end %>