<% if page.current? %>
  <li class='active'>
    <%= content_tag :a, page, data: { remote: remote }, rel: page.rel, class: "flex items-center justify-center px-4 h-10 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white" %>
  </li>
<% else %>
  <li>
    <%= link_to page, url, remote: remote, rel: page.rel, class: "flex justify-center items-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 dark:text-gray-400 dark:bg-gray-800 dark:border-gray-700 hover:text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white" %>
  </li>
<% end %>
